/* general rules*/

body{
    background-color:#eee;
}

/*end general rules*/


/* start Slider Section*/
.contain{
    position: relative;
}
.contain .carousel-indicators li{
    width:10px;
    height:10px;
    border-radius: 50%;
}
.contain .carousel .carousel-inner img{
    height: 400px;
}
.contain .carousel .carousel-inner .carousel-item .image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
}

.contain .carousel .carousel-inner .carousel-item .image-content .image-header{
    font-size: 40px;
    margin-bottom: 0rem;
}
.contain .carousel .carousel-inner .carousel-item .image-content .image-text{
   line-height: 1.3;
}
.contain .carousel .carousel-inner .carousel-item .image-content .image-button{
width: 124px;
height: 35px;
background: transparent;
color: white;
cursor: pointer;
border:1px solid white;
}

.contain .carousel .carousel-inner .carousel-item .image-content a{
    text-decoration: none;
    color:white;
}
@media screen and (min-width: 7700px) and (max-width: 1200px) { 
    .contain .carousel .carousel-inner .carousel-item .image-content .image-header{
        font-size: 35px;
    }
    .contain .carousel .carousel-inner .carousel-item .image-content .image-text{
        padding:0px 20px;
    }

}
@media screen and (min-width: 0px) and (max-width: 770px) { 
    .contain .carousel .carousel-inner .carousel-item .image-content .image-text{
        display:none;
    }

}
/* End Slider Section*/

/* Start Iamge Section*/

.text-section{
    text-align: center;
    padding-top: 10px;
    font-size: 25px; 
}
.bord{
    border-bottom: 1px solid #ccc;
    padding-top: 15px;

}
.image-section{  
      margin-bottom: 70px;

}
.image-section .image-textt{
    width:100px;
}
@media screen and (min-width: 0px) and (max-width: 770px) { 
    
    .image-section{
        display: none;
    }

}
/* End Iamge Section*/

/* start footer design*/
.footer{
    background-color: #333;
    color:#eee;
    position: fixed;
    bottom:0;
    left:0;
    padding:20;
    width:100%;
}
/* end footer design*/




